.text-color-white {
    color: #fff;
}

.bg-transparent {
    background-color: transparent;
}

.bg-color-white {
    background-color: white;
}

.bg-color-gray-50{
    background-color: #FAFAFA;
}

.bg-color-cyan-400{
    background-color: #26C6DA;
}

.bg-color-amber-400{
    background-color: #FFB300;
}

.border-color-white {
    border-color: #fff;
}