
.resizable {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255,255,255,0);
  padding: 1em;
  border-radius: 5px;
  margin: 3em;
  
  box-sizing: border-box;
  user-select: none;
  border: 1px solid rgb(104, 159, 56);
}
  
.resize-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(104, 159, 56);;
  right: 0;
  bottom: 0;
}